<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!--    <listeners>-->
<!--        <listener class-name ="test.java.api.utilities.ExtendReportManager"/>-->
<!--    </listeners>-->
    <test thread-count="5" name="Test">
        <classes>
            <class name= "api.tests.TestCases"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->